<div class="large-12">

  <h3><%= @question.body %></h3>

  <div id="this-question" value="<% @question.id %>" ></div>
  <div id="correct-answer" value="<% @question.answer%>" ></div>

  <form>
    <input type="radio" name="answer-choice" value="<% @answers[0] %>"><%= @answers[0] %>
    <br>
    <input type="radio" name="answer-choice" value="<% @answers[1] %>"><%= @answers[1] %>
    <br>
    <input type="radio" name="answer-choice" value="<% @answers[2] %>"><%= @answers[2] %>
    <br>
    <input type="radio" name="answer-choice" value="<% @answers[3] %>"><%= @answers[3] %>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
