    <h1><%= @user.email %></h1>

  <div class="row">
    <div class="large-12">
      <h1>Past Quizzes</h1>

      <%- if !@user_questions.empty? -%>
        <table>
          <tr>
            <th>Date Taken</th>
            <th>Right Answers</th>
            <th>Percent Right Answers</th>
            <th></th>
          </tr>

          <%- @user_questions.each do |quiz| -%>
            <tr>
              <td><%= quiz.created_at %></td>
              <td><%= quiz.count_right_answers %></td>
              <td><%= quiz.percent_right %>%</td>
            </tr>
          <%- end -%>
        </table>

      <%- end -%>
      <p><%= link_to 'Start New Quiz', new_user_user_question_path(@user),
             method: :get %> |
      <%= link_to 'Submit A Question', root_path, method: :get %> |
      <%= link_to 'Home', root_path, method: :get %>
      </p>
    </div>
  </div>
