<!DOCTYPE html>
<html>
<head>
  <title>TriviaApp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="medium-2 columns">
      <ul class="side-nav">
        <br>
        <li><%= link_to "Fun Trivia", "http://www.funtrivia.com" %></li>
        <li><%= link_to "Trivia Playing", "http://www.triviaplaying.com" %></li>
        <li><%= link_to "Useful Trivia", "http://wwww.usefultrivia.com" %></li>
        <li><%= link_to "Trivia Plaza", "http://wwww.triviaplaza.com" %></li>

        <%- if current_user -%>
        <div class="log-links">
          <li ><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </div>

        <%- else -%>
        <div class="log-links">
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
        </div>
        <%- end -%>
      </ul>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-notice">
      <%= value %>
    </div>
  <%- end -%>
  <!-- <%= notice %> -->

    <div class="container">
      <div class="row">
        <div class="column">
          <%= yield %>
       </div>
     </div>
   </div>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
